<%= render "layouts/navbar" %>
<section class="section">
  <div class="container">
    <h1 class="title has-text-primary">Welcome back, <%= Current.user.username %>!</h1>
    <p class="subtitle has-text-info">
      You are now logged into SmartRails.
    </p>
    <div class="content">
      <p>This is your private dashboard. Only authenticated users can see this page.</p>
    </div>
  </div>
</section>
