<%= render "layouts/navbar" %>
<section class="section">
  <div class="container">
    <h1 class="title has-text-primary">More about SmartRails</h1>
    <div class="content has-text-info">
      <p>
        This is a template project designed to kickstart your web development.
      </p>
      <p>
        It is built with:
      </p>
      <ul>
        <li><strong>Ruby on Rails 8</strong></li>
        <li><strong>Ruby v.4</strong></li>
        <li><strong>Bulma CSS Framework</strong></li>
      </ul>
      <p>
        <%= link_to "Back to Home", root_path, class: "button is-link" %>
      </p>
    </div>
  </div>
</section>
