<% content_for :content do %>
  <div class="jumbotron">
    <h1 class="display-4">SmartRails</h1>
    <p class="lead">This is a Ruby on Rails v6.x template. Version <%= @app_version %></p>
    <hr class="my-4">
    <p>It uses Bootstrap v.4 for responsive rendering and SQLite as database.</p>
    <% if logged_in? %>
      <p>You are logged in as <b><%= current_user.username %></b>. <a href="/sessions/logout">Logout</a></p>
      <a class="btn btn-primary btn-lg" href="#" role="button">Home</a>
    <% else %>
      <a class="btn btn-primary btn-lg" href="/login" role="button">Login</a>
      <a class="btn btn-secondary btn-lg" href="/users/new" role="button">Sign Up</a>
    <% end %>
  </div>
<% end %>

