<% content_for :content do %>
  <div class="jumbotron">
    <h1 class="display-4">SmartRails</h1>
    <p class="lead">This is a Ruby on Rails v6.x template.</p>
    <hr class="my-4">
    <p>It uses Bootstrap v.4 for responsive rendering.</p>
    <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
  </div>
<% end %>

