<div class="m-4 p-5 bg-light rounded-3">
  <h4 class="my-4">
    User <b><%= current_user.username %></b>
  </h4>
  <p>ID: <%= current_user.id %></p>
  <p>Created: <%= current_user.created_at %></p>
</div>
